<div class="container mt-5">
    <button class="btn btn-outline-primary mr-3" (click)="get500Error()">Test 500</button>
    <button class="btn btn-outline-primary mr-3" (click)="get404Error()">Test 404</button>
    <button class="btn btn-outline-primary mr-3" (click)="get400Error()">Test 400</button>
    <button class="btn btn-outline-primary mr-3" (click)="get400ErrorWithValidation()">Test 400 Validation</button>

    <div class="row mt-5" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let err of validationErrors">
                {{err}}
            </li>
        </ul>
    </div>
</div>